<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/main.css" />
<script src = "/lib/jquery-2.1.4.min.js"></script>
<script src = "/lib/bootstrap.min.js"></script>

<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script src = "/lib/jquery.validate.min.js"></script>
<script charset="utf-8" src ="/lib/jquerysession.js"></script>

</head>

<body>

<% if (success) { %>
	<div class="message-prompt"><span><%= success %></span></div>
<% } %>
<% if (error) { %>
	<div class="message-prompt error"><span><%= error %></span></div>
<% } %>
<div id = "nav">
  <div class = "nav-center">
    <div class = "nav-header">
        <a href = "/" target="_blank">vBlog</a>
      </div>
    <ul class = "nav-left">
        <li><a href = "#" target="_blank">八卦互联网</a></li>
        <li><a href = "#" target="_blank">干货分享</a></li>
        <li><a href = "#" target="_blank">码农进阶</a></li>
        <li><a href = "#" target="_blank">寻找组织</a></li>
      </ul>
      <ul class = "nav-right">
      	<li><a href = "#"><i class="icon icon-search"></i>搜索</a></li>
        <li class = "gongzhonghao">
          <a href = "#"><i class="icon icon-sm-phone"></i>公众号</a>
          <div class="app-guide-box" >
          	 <div class="app-guide-title">
                  <span>微信扫一扫</span>
              </div>
              <img src="/images/qrcode_for_gh_420b8d2e4eeb_430.jpg">              
             
           </div>
        </li>
       
        <% if (user) { %>
        	<li><a href="/u/<%=user.username%>" target="_blank">你好，<%=user.username%></a></li>
        <li><a title="登出" href="/logout">退出登录</a></li> 
   	 <% } else{ %>
	        <li><a href = "/login">登录</a></li>
	        <li><a href = "/signup">注册</a></li>
        <% } %>	
        <li><a href = "/post" target="_blank">投稿</a></li>
      </ul>
  </div>
</div>
